@import "tailwindcss";



@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sf_pro_text: var(--font-sf_pro_text);
  --font-sf_pro_display: var(--font-sf_pro_display)
}

